.container-fluid {
     padding: 0px;
 }
 #instagramImage {
     border: 0;
     width: 30px;
     height: 30px; 
 }
 
 .vista {
     height: 20px;
 }
 #camera{
     border: 1px rgb(127, 127, 129) solid;
     padding: 4px;
     border-radius: 2px;
 }
 
 #location{
     border: 1px rgb(127, 127, 129) solid;
     padding-top: 4px;
     padding-bottom: 4px;
     padding-right: 6px;
     padding-left: 6px;
     border-radius: 2px;
 }
 
 .col-4{
     margin-top: 1px; 
     padding :1px;
     
 }
 .images{
     max-height: 250px;
     width: 100%;
 }
  